body{
    background-image: url(../IMG/home_site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
@media screen and (max-width: 614px){
    body{
        background-image: url(../IMG/home_site\ resp.png);
        background-color:#efe1cf;
    
    }
    .conteiner{
       padding-bottom: 10rem;
     
    }
}